.maintitle {
    align-self: stretch;
    writing-mode: vertical-rl;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    padding: 30px 5px;
    text-align: right;
    letter-spacing: 3px;
    word-spacing: 6px; 
    position: relative;
    background: linear-gradient(to top, var(--dark3), var(--color7));
    border-right: 1px solid var(--black7); }
        
.maintitle a {
    font: 20px/130% 'Martel', serif; 
    text-transform: uppercase;
    color: var(--light7);
    text-shadow: -2px -2px 10px var(--light5); 
    transform: rotate(180deg);
    position: sticky;
    top: 50px;
    margin-left: 30px;
    padding-left: 30px; }
        
.maintitle a:hover {
    color: var(--light); }

.wrap-flex {
    width: calc(100% - 60px);
    display: flex;
    flex-flow: row nowrap;
    align-items: center; 
    align-content: center; 
    justify-content: center; 
    min-height: 240px; }

.wrap-flex-col img {
    object-fit: cover;
    min-width: 70%; 
    max-width: 85%;
    margin: 15px auto;
}

.wrap-flex-col {
  width: 50%;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  align-content: center; 
  justify-content: center;
  padding: 10px; 
}

.technologies {
  width: 85%;
  padding: 15px;
  min-height: 30px;
  background: var(--color5);
  margin: 5px auto; 
  display: flex;
  flex-wrap: wrap; 
  align-items: center;
  justify-content: space-evenly;
  align-content: space-evenly;
  text-align: center; 
  outline: 1px solid var(--color7); }
  
.technologies span {
  font: 12px/150% 'Martel', serif;
  text-transform: uppercase; 
  color: var(--light7);
  text-shadow: 1px 1px 5px var(--light5); 
  word-spacing: 15px; 
  letter-spacing: 4px;}

.desc {
  width: 85%;
  min-height: 85px;
  margin: 15px auto;
  border: 1px solid var(--color5);
  padding: 15px;
  text-align: justify;
  font: 14px/140% 'Livvic', sans-serif;
  letter-spacing: 0.5px;
  word-spacing: 2px; 
  align-self: center;}