header {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center; 
    z-index: 9;
    background: linear-gradient(to top, var(--black7), var(--color3)), 
                url('../../images/stars.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; }

header > big {
    margin: 0;
    position: absolute;
    font: 80px/200% 'Aqua', serif;
    color: var(--light7); 
    letter-spacing: 50px;
    text-transform: uppercase;
    text-shadow: 2px 2px 20px rgba(63,63,63,0.7);
    mix-blend-mode: screen; }
    
    header > big span {
    color: var(--color7);
    animation: flicker 4s infinite; }
    
    header > big span:nth-of-type(1) {
    animation-delay: 1s; }
    
    header > big span:nth-of-type(3) {
    animation-delay: 1.7s; }
            
    header > big:before {
    content: '';
    border-left: 1px solid var(--light5);
    border-top: 1px solid var(--light5); 
    background: transparent;
    display: flex;
    width: 50px;
    height: 50px;
    position: absolute;
    left: -40px;
    top: -5px;
    -webkit-transform: skew(0deg); }
    
    header > big:after {
    content: '';
    border-right: 1px solid var(--light5);
    border-bottom: 1px solid var(--light5); 
    background: transparent;
    display: flex;
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: -10px;
    right: -10px;
    -webkit-transform: skew(0deg); }

    @keyframes flicker {
        0% {
          opacity: 1; }
        31.8% {
          opacity: 0.9; }
        32% {
          opacity: 0; }
        32.2% {
          opacity: 0.9; }
        94.6% {
          opacity: 1; }
        95% {
          opacity: 0; }
        95.4% {
          opacity: 0.9; }
        100% {
          opacity: 1; } }