/* color variables */
#g1 .filter,
.g1 {
  --colorsolid: #5f868e;
  --darkhex: #2c484e;
  --six: rgba(95,134,142,0.6);
  --eight: rgba(95,134,142,0.8);}

@font-face {
  font-family: 'Phos';
  src: url('https://files.jcink.net/uploads/noatest001/Phoss___.ttf') format('TrueType'); }
@font-face {
  font-family: 'Farewell';
  src: url('https://files.jcink.net/uploads/noatest001/Farewell_Pro_Regular.ttf'); }

  ::-webkit-scrollbar { width: 5px; }
  ::-webkit-scrollbar-track { background: #111; }
  ::-webkit-scrollbar-thumb { background: var(--colorsolid); }

  body {
    background-image: url('https://k.nickpic.host/Bn6zMQ.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-color: #454545; 
    margin: 0;
    font: 14px/100% 'Phos', serif; }
    
    a:link,
    a:visited,
    a:active {
      text-decoration: none;
      color: var(--colorsolid); }
  
  nav {
    width: 100%;
    background-color: #232323;
    padding: 10px; 
    box-sizing: border-box;
    text-align: right;
    display: flex;
    justify-content: space-between; 
    color: white;
    border-bottom: 5px solid var(--colorsolid);
    text-transform: uppercase;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999; }